# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.env


# Distribution / packaging
venv/
media/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.xlsx
*.db
config.py



